
:host {
  display: block;
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
}

.main-container {
  width: 100%;
  padding: 20px;
}

input, button, select {
  width: 90%;
  max-width: 250px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}
